body {
    background-color: #d6e4e6 !important;
}
.title {
    color: #c27ba0;
    font-size: 70px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
}
.outer{
    display: inline-grid;
    justify-content: center;
}
.outer .box{
    position: absolute;
    top: 180px;
    width: 398px;
    height: 362px;
    background-color: rgb(241, 245, 189);
    border-radius: 5px;
    margin: 0px 593.5px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 20%);

}
.outer .box .note{
    padding: 24px 0px 16px;
    font-size: 20px;
    color: #1c1e21;
    display: flex;
    justify-content: center;
}
.outer .box .notify{
    margin: 4px 16px 6px 16px;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #f2d7ff;
    border: 1px solid #e2227c;
    font-size: 12px;
}
.outer .box .fields{
    margin-top: 6px;
    margin-bottom: 6px;
}
.outer .box .fields .emailField{
    display: flex;
    position: relative;
}
.outer .box .fields .emailField img{
    position: absolute;
    left: 350px;
    top: 20px;
    visibility: hidden;
}

.outer .box .fields input{
    border-radius: 6px;
    font-size: 17px;
    width: 365px;
    padding: 14px 16px;
    margin: 6px 16px;
    display: grid;
    border: 1px solid #dddfe2;
    outline: none;

}
#alert{
    color: #f02849;;
    font-size: 13px;
    line-height: 16px;
    margin: 0px 0px 0px 25px;
    display: none;
}
.outer .box .button{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.outer .box button{
    border-radius: 6px;
    font-size: 20px;
    font-weight: 800;
    width: 364px;
    height: 48px;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid #007373;
    color: white;
    background-color: #007373;
    cursor: pointer;
    outline: none   ;
}


