.message{
    display: grid;
    position: absolute;
    top: 175px;
    left: 425px;


}
#orderNo{
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding: 10px
}
.notify{
    border: 3px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 20px;
}
.thanks{
    border: 3px solid black;
    background-color:rgb(236 208 144);
    padding: 10px;

}
.countinue{
    background-color: rgb(148, 240, 217);
    width: 170px;
    height: 80px;
    font-size: 20px;
    position: relative;
    float: right;
    top: 530px;
    right: 100px;

}