.mainBody {
    background-color: #9fc2c7 !important;
}


/********** Home Page **********/

.logo{
    position: absolute;
    left: 200px;
    top: 35px;
    width: 150px;
    height: 150px;
}
.title {
    color: #a94f4f;
    font-size: 70px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 70px;
    left: 100px;
    max-width: 1485px;

}

.mainCategories {
    display: flex;
    justify-content: center;
}

.mainCategories div {
    display: grid;
    position: relative;
    top: 150px;
    margin-left: 50px;
    margin-right: 50px;
}

.mainCategories a {
    text-decoration: none;
}

.mainCategories span {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #085394;
    font-weight: 800;
}

.mainCategories .cateImg {
    height: 280px;
    width: 280px;
}

.mainCategories .cateImg:hover {
    height: 320px;
    width: 320px;
    border: 2px solid red;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 100%);
    margin-top: -20px;
}

/********** End Home Page **********/